{% extends "base.html" %}

{% block title %}index page{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}




{% block content %}

{% from "_formhelpers.html" import render_searchbook %}
{{render_searchbook(form)}}
{% include '_flashmessages.html' %}

{% from "_formhelpers.html" import render_recommendations %}
{% if best_product_list%}
<div class="row book-intro">
    <p>Books Most popular in H.Y.R.T.B</p>
</div>
{{render_recommendations(best_product_list,"content-slider-1")}}
{% endif %}
{% if last_product and similar_products%}
<div class="row book-intro">
    <p>Book Similar to {{last_product.title}}</p>
</div>
{{render_recommendations(similar_products,"content-slider-2")}}
{% endif %}
{% if recommend_products%}
<div class="row book-intro">
    <p>Book recommendation based on your reviews</p>
</div>
{{render_recommendations(recommend_products,"content-slider-3")}}
{% endif %}

{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
