<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightslider/lightslider.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightgallery/lightgallery.min.css')}}" />
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-star-rating/star-rating.min.css')}}" />
    {% block style %}{% endblock%}

  </head>
  <body>
    {% block body %}{% endblock %}

    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <!-- -->
    <script src="{{ url_for('static', filename='js/lightslider/lightslider.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lightgallery/lightgallery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-star-rating/star-rating.min.js') }}"></script>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted ||
                               ( typeof window.performance != "undefined" &&
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
